@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


input {
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}

.zoom_effect {
  @apply transform transition-transform duration-300 hover:scale-110; /* Ensure the image doesn't overflow the container */
 }

.break-words {
  overflow-wrap: break-word;
  word-break: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.nav_btn {
  @apply py-1.5 px-4 text-base border border-white text-blue-400 bg-white rounded-full transition duration-300 ease-in-out;
}

.nav_btn:hover {
  @apply hover:border-blue-400 text-blue-400;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

